[Unit]
Description=Emacs

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient -e '(client-save-kill-emacs)'
Restart=always

[Install]
WantedBy=default.target
